<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!--- Include the above in your HEAD tag -->


  <div class="card card-container">
    <form class="form-login">
      <label>CHANGE-PASSWORD</label>
      <br>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="password"  name="password" class="form-control" [(ngModel)]='userData.oldPassword'
       placeholder="OLD-PASSWORD" required>
      <br>
      <input type="password" name="password" class="form-control" [(ngModel)]='userData.newPassword'
      placeholder="NEW-PASSWORD" required>
      <br>
      <input type="password" name="password" class="form-control" [(ngModel)]='userData.conformPassword' 
      placeholder="CONFORM-PASSWORD" required>
      <br>
      <br>
      <button class="btn btn-success" (click)="OnSubmit()">SUBMIT</button>

      <button class="btn btn-lg btn-danger " (click)="Oncancel()">CANCEL</button>
    </form>
    <!-- /form -->
  </div>
  <!-- /card-container -->
<!-- /container -->